a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin: 0 auto;
  background: linear-gradient(180deg, #010101, #888888);
  max-inline-size: 1240px;
  min-block-size: 100vb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  font-weight: 900;
  text-transform: uppercase;
  padding-block: 10px;
  inline-size: 100%;
  background-color: transparent;
  border: 3px solid #fff;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 3px solid #000;
}

button:hover {
  color: #000;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}

.header__heading {
  font-size: clamp(1.5rem, 1.0123rem + 2.0809vw, 2.6rem);
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding-inline: 20px;
}

.content {
  padding-inline: 20px;
  opacity: 1;
  transition: opacity 1.4s ease-in-out;
}

.content__logo {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  position: relative;
  margin-block-end: 40px;
  background-image: url(../images/building.jpg);
  background-color: rgb(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-position: center;
  box-shadow: 0px 15px 10px 2px rgba(34, 60, 80, 0.2);
}

.content__logo-image {
  display: block;
  block-size: 100%;
  inline-size: 100%;
}

dialog[open] {
  opacity: 1;
  transition: opacity 0.6s ease;
  inline-size: 65vi;
  block-size: 70vb;
  display: flex;
  flex-direction: column;
  justify-content: center;
    flex-wrap: wrap;
  border-radius: 10px;
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.5;
}

.dialog__list {
  list-style: none;
  display: grid;
  gap: 15px;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.dialog__list-item {
  grid-column: span 2;
  grid-row: span 2;
  
}

.card {
    position: relative;
  font-size: 14px;
  font-weight: 900;
  min-block-size: 180px;
  min-inline-size: 400px;
  border-radius: 10px;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 2px 4px 3px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}
.button__close {
    position: absolute;
    background-image: url(../images/closeButton.svg);
    top: 15px;
    right: 15px;
    inline-size: 25px;
    block-size: 15px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.card--keeping {
  background-image: url(../images/1-cekh-hraneniya-syrya.png);
}


.card--production {
  background-image: url(../images/2-cekh-izgotovleniya-ppu.png);
}

.card--aging {
  background-image: url(../images/3-cekh-vyzrevaniya.png);
}

.card--storage {
  background-image: url(../images/4-cekh-hraneniya-gotovyh-blokov.png);
}

.card--recycling {
  background-image: url(../images/5-cekh-pererabotki-ppu.png);
}

.card--finished {
  background-image: url(../images/6-hraneniya-gotovoj-produkcii.png);
}

@starting-style {
  .header {
    opacity: 0;
  }

  .content {
    opacity: 0;
  }

  dialog[open] {
    opacity: 0;
  }
}
